body {
  font-family: "Playfair Display", serif;
}
.heading {
  font-size: 2rem;
  font-weight: bold;
  color: black;
}
.heading-dark {
  font-size: 2rem;
  font-weight: bold;
  color: white;
}
.title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.title-dark {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
  color: white;
}
/* Header Styling */
nav {
  background-color: transparent;
  height: 60px;
  transition: all 0.5s ease;
}
#navLinkId {
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(147, 149, 151);
}
#navBrandId {
  font-size: 2rem;
  font-weight: bold;
  color: rgb(147, 149, 151);
  transition: all 0.5s ease;
}

li a:after {
  content: "";
  display: block;
  height: 3px;
  background: rgb(151, 153, 155);
  transition: width 0.3s ease 0s;
  width: 0;
}
li a:hover:after {
  width: 100%;
}

nav.sticky {
  background-color: rgb(240, 238, 233);
  height: 60px;
}
/* nav.sticky li a:after {
  background: transparent;
} */

.home-content {
  color: rgb(240, 238, 233);
}
.home .home-content .text-1 {
  font-size: 27px;
}
.home .home-content .text-2 {
  font-size: 75px;
  font-weight: bold;
}
.home .home-content .text-3 {
  font-size: 40px;
}
.home .home-content .text-3 span {
  font-size: 40px;
  font-weight: bold;
  color: rgb(250, 224, 83);
}

/* Home Styling */
.home {
  height: 100vh;

  background-size: cover;
  position: relative;
  top: -60px;
  z-index: -1;
}
/* About Styling */

.about-img {
  height: 400px;
  border-radius: 15px;
  object-fit: cover;
}
.about-content {
  text-align: justify;
}
.about-me .title span {
  color: rgb(250, 224, 83);
}
.btn-about {
  position: relative;
  display: inline-block;
  width: auto;
  height: auto;
  background-color: transparent;
  border: none;
  cursor: pointer;
  min-width: 150px;
}
.btn-about span {
  position: relative;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 20px;
  transition: 0.3s ease-out;
}

.btn-about.hover-border-1:active,
.btn-about.hover-border-1:hover,
.btn-about.hover-border-1:focus {
  outline: 0 !important;
  outline-offset: 0;
}
.btn-about.hover-border-1::before,
.btn-about.hover-border-1::after {
  position: absolute;
  content: "";
}
.btn-about {
  padding: 5px;
}
.btn-about span {
  color: rgb(255, 255, 255);
  background-color: rgb(207, 92, 120);
}
.btn-about::before,
.btn-about::after {
  background: transparent;
  z-index: 2;
}
.btn-about.hover-border-1::before,
.btn-about.hover-border-1::after {
  width: 10%;
  height: 25%;
  transition: 0.3s ease-out;
}
.btn-about.hover-border-1::before {
  top: 0;
  left: 0;
  border-left: 1px solid rgb(207, 92, 120);
  border-top: 1px solid rgb(207, 92, 120);
}
.btn-about.hover-border-1::after {
  bottom: 0;
  right: 0;
  border-right: 1px solid rgb(207, 92, 120);
  border-bottom: 1px solid rgb(207, 92, 120);
}
.btn-about.hover-border-1:hover::before,
.btn-about.hover-border-1:hover::after {
  width: 99%;
  height: 98%;
}

/* Skill styling */
.skill {
  background-color: rgb(147, 149, 151);
}
.skillbar {
  position: relative;
  display: block;
  margin-bottom: 15px;
  width: 100%;
  background: #eee;
  height: 35px;
  border-radius: 3px;

  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -ms-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -ms-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
}

.skillbar-title {
  position: absolute;
  top: 0;
  left: 0;
  width: 110px;
  font-weight: bold;
  font-size: 13px;
  color: #ffffff;

  -webkit-border-top-left-radius: 3px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.skillbar-title span {
  display: block;
  background: rgba(0, 0, 0, 0.2);
  padding: 0 20px;
  height: 35px;
  line-height: 35px;
}

.skillbar-bar {
  height: 35px;
  width: 0%;
  transition: all 1s ease-out;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

.skill-bar-percent {
  position: absolute;
  right: 10px;
  top: 0;
  font-size: 11px;
  height: 35px;
  line-height: 35px;
  color: black;
}
/* Project */
.slider {
  position: relative;
  overflow-x: hidden;
  height: 500px;
}
.slider__wrapper {
  display: flex;
  margin: 0 5%;
  position: absolute;
  transition: all 0.3s ease-out;
}
.slide {
  align-items: center;
  opacity: 0.25;
  transition: all 0.3s ease-out;
}
.slide-previous:hover,
.slide-next:hover {
  opacity: 0.5;
}
.slide-previous {
  cursor: w-resize;
}
.slide-next {
  cursor: e-resize;
}
.slide-next:hover,
.slide-previous:hover {
  transform: translateY(-2%);
}
.slide-current {
  opacity: 1;
}
.slide-img {
  object-fit: cover;
  height: 50%;
}
.previous {
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.next {
  background-color: transparent;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.previous:hover {
  color: rgb(147, 149, 151);
}
.next:hover {
  color: rgb(147, 149, 151);
}
.project-badge {
  font-size: 1.6rem;
}
.github-badge {
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.website-badge {
  transition: all 0.3s ease-out;
  cursor: pointer;
}
.github-badge:hover {
  color: rgb(147, 149, 151);
  cursor: pointer;
}
.website-badge:hover {
  color: rgb(147, 149, 151);
  cursor: pointer;
}
